<div class="background">
    <div class="sign-in">
        <ul class="menu">
            <li><a class="{{currentTab?.mark===tab.signIn.mark?'tab-active':'tab'}}" (click)="setTab(tab.signIn)" href="javascript:void(0)">登录</a></li>
            <b class="radius">&#8226;</b>
            <li><a class="{{currentTab?.mark===tab.signUp.mark?'tab-active':'tab'}}" (click)="setTab(tab.signUp)" href="javascript:void(0)">注册</a></li>
        </ul>
        <div *ngIf="currentTab?.mark===tab.signIn.mark">
            <div style="position: relative">
                <input type="text" class="input-top" placeholder="手机号或邮箱号">
                <a class="user-icon icon icon-pos">&#xe800;</a>
            </div>
            <div  style="position: relative">
                <input type="password" class="input-bottom" placeholder="密码">
                <a class="lock-icon icon icon-pos">&#xe801;</a>
            </div>
            <a class="btn-blog sign-in-btn">登录</a>
        </div>
        <div *ngIf="currentTab?.mark===tab.signUp.mark">
            <div style="position: relative">
                <input type="text" class="input-top" placeholder="你的昵称">
                <a class="user-icon icon icon-pos">&#xe800;</a>
            </div>
            <div  style="position: relative">
                <input type="text" class="input-item" placeholder="手机号码">
                <a class="phone-icon icon icon-pos">&#xe800;</a>
            </div>
            <div  style="position: relative">
                <input type="text" class="input-item" placeholder="邮箱">
                <a class="email-icon icon icon-pos">&#xF0E0;</a>
            </div>
            <div  style="position: relative">
                <input type="password" class="input-bottom" placeholder="密码">
                <a class="lock-icon icon icon-pos">&#xe801;</a>
            </div>
            <a class="btn-blog sign-in-btn" style="background-color: #08aa08">注册</a>
        </div>
        <h6>{{currentTab?.tips}}</h6>
        <div class="share" style="background-color: #e35b5b">
            <a class="weibo-icon icon icon-special">&#xF18A;</a>
        </div>
        <div class="share" style="background-color: #1b8dae">
            <a class="qq-icon icon icon-special">&#xF1D6;</a>
        </div>
        <div class="share" style="background-color: #08aa08">
            <a class="wechat-icon icon icon-special">&#xF1D7;</a>
        </div>
        <!--<div class="tooltip">-->

        <!--</div>-->
    </div>
</div>