<div class="container" *ngFor="let i of getArray(20)">
    <div class="content">
        <div class="head-line">
            <img class="head-img" src="../../../assets/img/Book.png">
            <span class="tip">反倒是开发商开发了</span>
            <span class="tip">04.04 14:50</span>
        </div>
        <a href="javascript:void(0)" class="title">的撒娇放到</a>
        <p class="text">飞机开始JFK圣诞节风口浪尖上的反抗集散地放得开fdsfsd反...</p>
        <div class="icon">
            <span class="item"><app-icon tag="edit" class="pos"></app-icon>321</span>
            <span class="item"><app-icon tag="img" class="pos"></app-icon>321</span>
            <span class="item"><app-icon tag="save" class="pos"></app-icon>321</span>
        </div>
    </div>
    <div class="img-container">
        <img class="img" src="../../../assets/img/mouse.png">
    </div>
</div>