<div class="container" *ngFor="let item of model">
    <div class="content">
        <div class="head-line">
            <img class="head-img" src="{{item.headUrl?item.headUrl:'../../../assets/img/Book.png'}}">
            <span class="tip">{{item.author}}</span>
            <span class="tip">{{item.day}} {{item.time}}</span>
        </div>
        <a href="javascript:void(0)" class="title" (click)="toReader(item.id)">{{item.title}}</a>
        <p class="text">{{item.text}}</p>
        <div class="icon">
            <span class="item"><app-icon tag="eye" class="pos"></app-icon>{{item.visited}}</span>
            <span class="item"><app-icon tag="msg" class="pos" (click)="toReaderComment(item.id)"></app-icon>{{item.msg}}</span>
            <span class="item"><app-icon tag="heart" class="pos"></app-icon>{{item.collected}}</span>
        </div>
    </div>
    <div class="img-container" *ngIf="item.imgUrl">
        <img class="img" src="{{item.imgUrl?item.imgUrl:'../../../assets/img/mouse.png'}}">
    </div>
</div>