.container {
    width: 100%;
    text-align: center;
    .select {
        border: 1px solid #999;
        padding: 0.2rem;
        padding-bottom: 0.4rem;
        border-radius: 0.5rem;
        &:focus {
            outline: none;
        }
    }
}