$block:rgb(190, 95, 17);
$min-height: 3rem;
.list-nav-container {
    cursor: pointer;
    min-height: $min-height;
    padding-left: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.active {
    border-left: 0.25rem solid $block;
}
.dark {
    &:hover{
        background-color: #666666;
    }
}
.light {
    &:hover {
        background-color: #f5f5f5;
    }
}
.night {
    background-color: #666666;    
}
.day {
    background-color: #f5f5f5;
}