$time: 0.3s;
$color: #85443c;
@mixin transition($content) {
  transition: $content;
  -webkit-transition: $content;
  -moz-transition: $content;
  -o-transition: $content;
}

@mixin keyframes($name) {
  @keyframes #{$name} {
    @content;
  }
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
}

@mixin animation($animation) {
  animation: $animation;
  -webkit-animation: $animation;
  -moz-animation: $animation;
  -o-animation: $animation;
}

@include keyframes(appear) {
  0% {margin-top: -2.5rem; opacity: 0}
  100% {margin-top: 1rem; opacity: 1;}
}

@include keyframes(disappear) {
  0% {margin-top: 1rem; opacity: 1}
  100% {margin-top: -2.5rem; opacity: 0;}
}

.dialog-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  background-color: rgba(166, 166, 166, 0.41);
  z-index: 3;
  .dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    box-shadow: 0px 1px 4px 0px #afafaf;
    border-radius: 0.8rem;
    background-color: white;
    min-width: 20rem;
    @media screen and (max-width: 768px) {

    }
    p {
      text-align: center;
      padding-bottom: 2rem;
    }
    .close {
      display: block;
      text-align: right;
      cursor: pointer;
      font-size: 1.5rem;
      padding-right: 0.4rem;
      color: #838383;
      &:hover {
        color: $color;
      }
    }
    .func {
      height: 4rem;
      border-radius: 0 0 0.8rem 0.8rem;
      text-align: center;
      background-color: $color;
      a {
        color: white;
        border-radius: 10rem;
        padding-right: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 1rem;
        border: 1.5px solid;
        display: inline-block;
        cursor: pointer;
        margin-top: 0.75rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        &:hover {
          background-color: white;
          color: $color;
          border-color: $color;
        }
        &:last-child {
          background-color: #a85033;
          color: white;
          border-color: $color; 
          &:hover {
            border-color: #d35931;
            background-color: #d35931;
          }
        }
      }
    }
  }
}