$time: 0.3s;
$hovercolor: #ec6c4c;
$confirmColor: #c5583d;
@mixin transition($content) {
  transition: $content;
  -webkit-transition: $content;
  -moz-transition: $content;
  -o-transition: $content;
}

@mixin keyframes($name) {
  @keyframes #{$name} {
    @content;
  }
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
}

@mixin animation($animation) {
  animation: $animation;
  -webkit-animation: $animation;
  -moz-animation: $animation;
  -o-animation: $animation;
}

@include keyframes(appear) {
  0% {opacity: 0;top: 0}
  100% {opacity: 1;top: 50%}
}

@include keyframes(appear2) {
  0% {opacity: 0}
  100% {opacity: 1;}
}

.appear {
  @include animation(appear $time ease-out 0s 1);
}

.appear2 {
  @include animation(appear2 $time ease-out 0s 1);
}

.dialog-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  background-color: rgba(166, 166, 166, 0.41);
  z-index: 3;
  @include transition(opacity $time);
  .dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    box-shadow: 0px 1px 4px 0px #afafaf;
    border-radius: 0.5rem;
    background-color: white;
    min-width: 20rem;
    $leave: opacity $time, top $time;
    @include transition($leave);
    @media screen and (max-width: 768px) {

    }
    p {
      text-align: center;
      padding-bottom: 2rem;
    }
    .close {
      display: block;
      text-align: right;
      cursor: pointer;
      font-size: 1rem;
      padding-right: 0.5rem;
      padding-top: 0.2rem;
      color: #838383;
      &:hover {
        color: $confirmColor;
      }
    }
    .func {
      height: 4rem;
      border-radius: 0 0 0.5rem 0.5rem;
      text-align: center;
      padding: 0.5rem;
      a {
        border-radius: 0.5rem;
        padding-right: 2rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 2rem;
        display: inline-block;
        cursor: pointer;
        margin-top: 0.75rem;
        margin-left: 0.5rem;
        box-shadow: 0px 0px 1px 1px #9d9d9d;
        margin-right: 0.5rem;
        &:hover {
          color: $confirmColor;
        }
        &:last-child {
          background-color: $confirmColor;
          color: white;
          box-shadow: 0px 0px 1px 1px $confirmColor;
          &:hover {
            background-color: $hovercolor;
          }
        }
      }
    }
  }
}