<div class="container">
    <div class="top">
        <img class="head" src="../../../../assets/img/note.png">
        <div class="data-sum">
            <h4>CAaRrLl</h4>
            <ul>
                <li>关注 ><div>321312</div></li>
                <li>粉丝 ><div>321312</div></li>
                <li>文章<div>321312</div></li>
                <li>字数<div>321312</div></li>
                <li>收获喜欢<div>321312</div></li>
            </ul>
        </div>
    </div>
    <ul class="nav">
        <li>文章</li>
        <li>个人资料</li>
    </ul>
</div>