.container {
    padding-left: 18vw;
    padding-right: 18vw;
    padding-top: 5rem;
    padding-bottom: 5rem;
    @media screen and (max-width: 768px) {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
    }
    .content {
        display: block;
        border-radius: 2rem;
        background-color: white;
        @media screen and (max-width: 768px) {
            border-radius: 0;
        }
    }
}