<div id="background" class="siderbar-background" *ngIf="!hidden" (click)="closeSiderbar()"></div>
<div id="target" class="siderbar" *ngIf="!hidden" (click)="delegateList($event.target)">
    <div class="title">
        <img [src]="model?.headSrc">
        <h5>{{model?.name}}</h5>
    </div>
    <div class="list" [id]="l.content" *ngFor="let l of model?.list">
        <app-icon class="icon" [id]="l.content" [tag]="l.iconTag"></app-icon>
        <span [id]="l.content">{{l.content}}</span>
    </div>
</div>