<div class="container">
    <div class="left">
        <div class="top">
            <img class="head" [src]="userData.img">
            <div class="data-sum">
                <h3>{{userData.name}}</h3>
                <p>{{userData.remark}}</p>
                <ul>
                    <li>关注 ><div>{{dataSum.follow}}</div></li>
                    <li>粉丝 ><div>{{dataSum.follower}}</div></li>
                    <li>文章<div>{{dataSum.essay}}</div></li>
                    <li>字数<div>{{dataSum.wordnum}}</div></li>
                    <li>收获喜欢<div>{{dataSum.collected}}</div></li>
                </ul>
            </div>
        </div>
        <ul class="nav">
            <li routerLink="./essay" [class.nav-active]="isNavActive(NavEnum.Essay)" (click)="changeNav(NavEnum.Essay)">
                <app-icon tag="essay"></app-icon>
                文章
            </li>
            <li routerLink="./info" [class.nav-active]="isNavActive(NavEnum.Info)" (click)="changeNav(NavEnum.Info)">
                <app-icon tag="userinfo"></app-icon>
                个人资料
            </li>
        </ul>
        <router-outlet></router-outlet>
    </div>
    <div class="right"></div>
</div>