.container {
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 6rem;
    background-color: #f0f2f5;
    .left {
        position: relative;
        display: inline-block;
        width: 35rem;
        @media screen and (max-width: 768px){
            width: 100%;
        }
    }
    .right {
        position: relative;
        display: inline-block;
        width: 20rem;
        vertical-align: top;
        @media screen and (max-width: 768px){
            display: none;
        }
    }
}