<div class="navigation">
    <img class="icon" [src]="iconSrc" (click)="toHome()">
    <h3 class="mark" (click)="toHome()">{{iconTip}}</h3>
    <div class="content-pc">
        <a (click)="toHome()">首页</a>
        <a (click)="toSignIn()">登陆</a>
        <a (click)="toSignUp()">注册</a>
        <a>写文章</a>
    </div>
    <app-search class="search" (valChange)="search($event)"></app-search>
    <div id="menu" class="content-phone">
        <app-icon class="menu" tag="menu" (click)="dropdown()"></app-icon>
        <ul [class.appear]="isAppear" [class.show]="isShow">
            <li (click)="toHome()">首页</li>
            <li (click)="toSignIn()">登陆</li>
            <li (click)="toSignUp()">注册</li>
            <li>写文章</li>
        </ul>
    </div>
</div>