<div class="navigation">
    <img class="icon" [src]="iconSrc" (click)="toHome()">
    <h3 class="mark" (click)="toHome()">{{iconTip}}</h3>
    <div class="content-pc" (click)="delegateList($event.target)">
        <a>{{getObjectKey(naviListFunc, 0)}}</a>
        <a *ngIf="!isUser">{{getObjectKey(naviListFunc, 1)}}</a>
        <a *ngIf="!isUser">{{getObjectKey(naviListFunc, 2)}}</a>
        <a>{{getObjectKey(naviListFunc, 3)}}</a>
    </div>
    <app-dropdown *ngIf="isUser" class="user-navi-pc" [content]="userNavi"></app-dropdown>
    <app-icon *ngIf="isUser" class="user-navi-phone" tag="indentright" (click)="siderbarShow()"></app-icon>
    <app-search class="search" (valChange)="search($event)"></app-search>
    <div id="menu" class="content-phone">
        <app-icon class="menu" tag="menu" (click)="dropdown()"></app-icon>
        <ul [class.appear]="isAppear" [class.show]="isShow" (click)="delegateList($event.target)">
            <li>{{getObjectKey(naviListFunc, 0)}}</li>
            <li *ngIf="!isUser">{{getObjectKey(naviListFunc, 1)}}</li>
            <li *ngIf="!isUser">{{getObjectKey(naviListFunc, 2)}}</li>
            <li>{{getObjectKey(naviListFunc, 3)}}</li>
        </ul>
    </div>
</div>
<ng-content select="p"></ng-content>