$blue:#1890ff;
$block:#880b0b;
.appear {
    opacity: 1!important;
}
.show {
    visibility: visible!important;
}
@mixin transition ($content) {
    transition: $content;
    -moz-transition: $content;
    -o-transition: $content;
    -webkit-transition: $content;
}
.navigation {
    background-color: #fff;
    box-shadow: 0px 1px 4px 0px #ececec;
    width: 100%;
    height: 4rem;
    .icon {
        display: inline-block;
        height: 100%;
        margin-left: 0.5rem;
        vertical-align: middle;
        padding: 0.6rem;
        box-sizing: border-box;
        cursor: pointer;
    }
    .mark {
        display: inline-block;
        font-weight: bolder;
        vertical-align: middle;
        margin: 0;
        color: $block;
        margin-left: -0.5rem;
        cursor: pointer;
        border-right: 1px solid #e9e9e9;
        padding-right: 1rem;
    }
    .content-pc {
        height: 100%;
        vertical-align: middle;
        float: right;
        padding-right: 2rem;
        a {
            cursor: pointer;
            display: inline-block;
            height: 100%;
            border-bottom: 3px solid rgba(255, 255, 255, 0);
            line-height: 3.8rem;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
            @include transition(border-bottom-color 0.8s);
            &:hover {
                border-bottom: 3px solid $blue;
                color:$blue;
            }
        }  
        @media screen and (max-width: 768px) {
            display: none;
        }
    }
    .user-navi-pc {
        display: inline-block;
        border-bottom: 3px solid rgba(255, 255, 255, 0);
        height: 4rem;
        vertical-align: middle;
        line-height: 4;
        margin-left: 1rem;
        margin-right: 1rem;
        @include transition(border-bottom-color 0.8s);
        &:hover {
            border-bottom: 3px solid $blue;
        }
        @media screen and (max-width: 768px) {
            display: none;
        }
    }
    .user-navi-phone {
        cursor: pointer;
        vertical-align: middle;
        padding: 1rem;
        color: #880b0b;
        @media screen and (min-width:769px) {
            display: none;
        }
    }
    .search {
        @media screen and (max-width: 420px){
            position: fixed;
            top: 4rem;
            left: 0;
            width: 100%;
            text-align: center;
        }
    }
    .content-phone {
        float: right;
        height: 100%;
        .menu {
            font-size: 1rem;
            margin: 1rem;
            color: $block;
            display: inline-flex;
            padding: 0.5rem;
            border-radius: 5px;
            cursor: pointer;
            &:active {
                background-color: rgba(220, 174, 174, 0.49);
            }           
        }
        @media screen and (min-width: 769px) {
            display: none;
        }
        ul {
            text-align: center;
            width: 12rem;
            opacity: 0;
            visibility: hidden;
            $target: opacity 0.3s;
            @include transition($target);
            &:before {
                top: -1rem;
                right: 1rem;
                position: absolute;
                content: '';
                border-bottom: 10px solid #ededed;
                border-left: 7px solid rgba(255, 255, 255, 0);
                border-top: 7px solid rgba(255, 255, 255, 0);
                border-right: 7px solid rgba(255, 255, 255, 0);
            }
            &:after {
                top: -0.9rem;
                right: 1rem;
                position: absolute;
                content: '';
                border-bottom: 10px solid rgb(255, 255, 255);
                border-left: 7px solid rgba(255, 255, 255, 0);
                border-top: 7px solid rgba(255, 255, 255, 0);
                border-right: 7px solid rgba(255, 255, 255, 0);
            }
            li {               
                height: 1.8rem;
                line-height: 1.7;
                color: #767676;
                &:active {
                    background-color: #efedeb;
                }
            }
        }
    }
}