/*全局样式*/
.btn-blog{
    background-color: #18a1ff;
    border-radius: 50px;
    cursor: pointer;
    padding: 10px 50px;
    color: white;
    -webkit-transition: background-color 1s,box-shadow 0.5s;
    -moz-transition: background-color 1s,box-shadow 0.5s;
    transition: background-color 1s,box-shadow 0.5s;
    display: block;
    margin-bottom: 25px;
    margin-top: 25px;
}
.btn-blog:hover{
    background-color: #2e8b86;
    box-shadow: 0px 1px 2px 1px #9E9E9E;
}


[class*="input-"] {
    border: 1px solid #999;
    background-color: #f5f5f566;
}

.input-top{
    border-radius: 5px 5px 0px 0px;
    border-bottom: none;
}

.input-item{
    border-bottom: none;
}
.input-bottom{
    border-radius: 0px 0px 5px 5px;
}

/*user*/
@font-face {
    font-family: 'fontello';
    src: url('assets/font/user/fontello.eot?');
    src: url('assets/font/user/fontello.eot?#iefix') format('embedded-opentype'),
    url('assets/font/user/fontello.woff?') format('woff'),
    url('assets/font/user/fontello.ttf?') format('truetype'),
    url('assets/font/user/fontello.svg?#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}

.user-icon
{
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*lock*/
@font-face {
    font-family: 'fontlock';
    src: url('assets/font/lock/fontlock.eot?');
    src: url('assets/font/lock/fontlock.eot?#iefix') format('embedded-opentype'),
    url('assets/font/lock/fontlock.woff?') format('woff'),
    url('assets/font/lock/fontlock.ttf?') format('truetype'),
    url('assets/font/lock/fontlock.svg?#fontlock') format('svg');
    font-weight: normal;
    font-style: normal;
}

.lock-icon
{
    font-family: "fontlock";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*qq*/
@font-face {
    font-family: 'fontqq';
    src: url('assets/font/qq/fontqq.eot?');
    src: url('assets/font/qq/fontqq.eot?#iefix') format('embedded-opentype'),
    url('assets/font/qq/fontqq.woff?') format('woff'),
    url('assets/font/qq/fontqq.ttf?') format('truetype'),
    url('assets/font/qq/fontqq.svg?#fontqq') format('svg');
    font-weight: normal;
    font-style: normal;
}

.qq-icon
{
    font-family: "fontqq";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*wechat*/
@font-face {
    font-family: 'fontwechat';
    src: url('assets/font/wechat/fontwechat.eot?');
    src: url('assets/font/wechat/fontwechat.eot?#iefix') format('embedded-opentype'),
    url('assets/font/wechat/fontwechat.woff?') format('woff'),
    url('assets/font/wechat/fontwechat.ttf?') format('truetype'),
    url('assets/font/wechat/fontwechat.svg?#fontwechat') format('svg');
    font-weight: normal;
    font-style: normal;
}

.wechat-icon
{
    font-family: "fontwechat";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*weibo*/
@font-face {
    font-family: 'fontweibo';
    src: url('assets/font/weibo/fontweibo.eot?');
    src: url('assets/font/weibo/fontweibo.eot?#iefix') format('embedded-opentype'),
    url('assets/font/weibo/fontweibo.woff?') format('woff'),
    url('assets/font/weibo/fontweibo.ttf?') format('truetype'),
    url('assets/font/weibo/fontweibo.svg?#fontweibo') format('svg');
    font-weight: normal;
    font-style: normal;
}

.weibo-icon
{
    font-family: "fontweibo";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*phone*/
@font-face {
    font-family: 'fontphone';
    src: url('assets/font/phone/fontphone.eot?');
    src: url('assets/font/phone/fontphone.eot?#iefix') format('embedded-opentype'),
    url('assets/font/phone/fontphone.woff?') format('woff'),
    url('assets/font/phone/fontphone.ttf?') format('truetype'),
    url('assets/font/phone/fontphone.svg?#fontphone') format('svg');
    font-weight: normal;
    font-style: normal;
}

.phone-icon
{
    font-family: "fontphone";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*email*/
@font-face {
    font-family: 'fontemail';
    src: url('assets/font/email/fontemail.eot?');
    src: url('assets/font/email/fontemail.eot?#iefix') format('embedded-opentype'),
    url('assets/font/email/fontemail.woff?') format('woff'),
    url('assets/font/email/fontemail.ttf?') format('truetype'),
    url('assets/font/email/fontemail.svg?#fontemail') format('svg');
    font-weight: normal;
    font-style: normal;
}

.email-icon
{
    font-family: "fontemail";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}